/* ------------------------------------------------------------------------------------------- Body - Layout */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #2a3105;
    margin: 20px 20px 10px 10px;
}

/* Without this, bootstrap causes a horizontal scrollbar */
.container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}


/* ------------------------------------------------------------------------------------------- Body -  User Experience / Colour Scheme  */
h1 {
    color: #ffb606;
}

h2 {
    color: #ffb606;
}

.question {
    margin-bottom: 10px;
}

.correct-answer {
    margin-bottom: 20px;
}

.submit {
    background-color: #ffb606;
}


.green {
    color: green;
}

.show-score {
    font-size: 1.5rem;
}
#show-score {
    color: black;
    text-align: center;
    width: 80px;
    font-weight: bold;
    border-radius: 11px;
    box-shadow: 5px 5px 5px grey;
    border-color: #ffb606;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    background: #ffb606;
    margin: 10px;
}

#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    padding:5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
}