/* ------------------------------------------------------------------------------------------- Body - Layout */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #2a3105;
    margin: 20px 20px 10px 10px;
}

/* Without this, bootstrap causes a horizontal scrollbar */
.container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}


/* ------------------------------------------------------------------------------------------- Body -  User Experience / Colour Scheme  */
h1 {
    color: #ffb606;
}

h2 {
    color: #ffb606;
}

.questions {
    margin-bottom: 10px;
}

.submit {
    background-color: #ffb606;
}